<a href="https://colab.research.google.com/github/Praveenrpw/AI_ModelLab/blob/main/core_python/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A Dictionary is an unordered collection of items stored as key-value pairs

Each key must be unique and immutable (string, numbers, or tuples), while values can be of any data type

In [ ]:
# 1. Creating a dict
# create a dictionary using curly braces {} or the dict() function.

my_dict = {
    'name': 'John',
    'age' : 30,
    'city': 'new york'
}

my_dict

{'name': 'John', 'age': 30, 'city': 'new york'}

In [ ]:
# or

my_dict = dict(name = 'john', age = 30, city = 'new york')
my_dict

{'name': 'john', 'age': 30, 'city': 'new york'}

In [ ]:
# 2. Accessing Values
# can access values by referring their key

my_dict = {
    'name': 'John',
    'age' : 30,
    'city': 'new york'
}

my_dict['name']

'John'

In [ ]:
# 3. adding or updating values
# you can add new key-value pairs or update the existing one

my_dict = {
    'name': 'John',
    'age' : 30,
    'city': 'new york'
}

my_dict['email'] = 'iam@example.com'
print(my_dict)

print()

my_dict['age'] = 31
print('Updated on age from 30 to 31', my_dict)

{'name': 'John', 'age': 30, 'city': 'new york', 'email': 'iam@example.com'}

Updated on age from 30 to 31 {'name': 'John', 'age': 31, 'city': 'new york', 'email': 'iam@example.com'}

In [ ]:
# 4. deleting items

my_dict = {
    'name': 'John',
    'age' : 30,
    'city': 'new york'
}

del my_dict['city']
print(my_dict)

{'name': 'John', 'age': 30}

In [ ]:
# using pop, removes 'age' and returns its value

my_dict = {
    'name': 'John',
    'age' : 30,
    'city': 'new york'
}

a = my_dict.pop('age')
print(a)
print(my_dict)

30
{'name': 'John', 'city': 'new york'}

In [ ]:
# 5. checking for keys
# use the in keyword to check if a key exists in the dictionary

my_dict = {
    'name': 'John',
    'age' : 30,
    'city': 'new york'
}

if 'name' in my_dict:
  print('Name exists in the dictionary')

Name exists in the dictionary

In [ ]:
# 6. iterating through a dictionary
# you can iterate through keys, values or key-value pairs

my_dict = {
    'name': 'John',
    'age' : 30,
    'city': 'new york'
}

for key in my_dict:
  print('Iterating only keys: ',key)
print()

for value in my_dict.values():
  print('Iterating only values: ', value)
print()

for key, value in my_dict.items():
  print('Iterating on both k,v: ', key, value)

Iterating only keys:  name
Iterating only keys:  age
Iterating only keys:  city

Iterating only values:  John
Iterating only values:  30
Iterating only values:  new york

Iterating on both k,v:  name John
Iterating on both k,v:  age 30
Iterating on both k,v:  city new york

In [ ]:
# 7. dictionary comprehension
# you can create dictionaries using comprehensions for concise

squares = {x: x**2 for x in range(5)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
# 8. nested dictionaries
# dictionaries can contain other dictionaries

nested_dict = {
    'person': {
    'name': 'John',
    'age' : 30
    },
    'city': 'new york'
}

nested_dict

{'person': {'name': 'John', 'age': 30}, 'city': 'new york'}

In [ ]:
# accessing the nested dict!!

nested_dict = {
    'person': {
        'name': 'John',
        'age': 30
    },
    'city': 'new york'
}

# accessing the nested dictionary itself
print(nested_dict['person'])
print(nested_dict['city'])
print()
# Access specific keys within the nested dictionary
print(nested_dict['person']['name'])
print(nested_dict['person']['age'])
print()

# Access a top-level key in the dictionary
print(nested_dict['city'])

{'name': 'John', 'age': 30}
new york

John
30

new york

In [ ]:
# 9. common methods

# keys()   : returns a view object of the keys
# values() : returns a view object of the values
# items()  : returns a view object of the key-value pairs
# get(key) : returns a value for the specified key, or none if the key
#            key does not exists

# Ex:
#   keys   = my_dict.keys()
#   values = my_dict.values()
#   items  = my_dict.items()
#   value  = my_dict.get('email', 'not found') # returns 'not found' if 'email' doesn;t exist

In [ ]:
# 10. merging dictionaries
# you can merge two dictionaries using the update() method or the
# | operator mostly on (python 3.9+)

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

dict1.update(dict2)
print(dict1)
print()
dict3 = dict1 | dict2 # merges and creates a new dictionary
dict3

{'a': 1, 'b': 3, 'c': 4}

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
# 11. Dictionary Views
# dictionary view provide a dynamic view of the dict keys, valuesm or
# items .They reflect changes in the dict

my_dict = {
    'name': 'John',
    'age' : 30,
    'city': 'new york'
}

my_dict['country'] = 'usa'
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'new york', 'country': 'usa'}

In [ ]:
# 12. default dictionaries
# use collections.defaultdict for dict with default values. This can
# simply code that adds to dictionaries

from collections import defaultdict

dd = defaultdict(int)   # Default value is 0 for integers
dd['apple'] += 1
dd['banana'] += 2
print(dd)

defaultdict(<class 'int'>, {'apple': 1, 'banana': 2})

In [ ]:
# 13. Shallow vs. Deep Copy
# a shallow copy of a dict creates a new dict object, but the values are still references to the same objects
# a deep copy creates a new dict and recursively copies all objects

import copy

original = {'a': [1, 2, 3]}
shallow_copied = copy.copy(original)
deep_copied = copy.deepcopy(original)

# Modifying the original's list affects the shallow copy but not the
# deep copy

original['a'].append(4)
print(shallow_copied)
print()
print(deep_copied)

{'a': [1, 2, 3, 4]}

{'a': [1, 2, 3]}

In [ ]:
# 14. sorting dict
# can sort dictionaries by keys or values

# sort by keys
sorted_by_keys = dict(sorted(my_dict.items()))

# sort by values
sorted_by_values = dict(sorted(my_dict.items(), key=lambda item: item[1]))

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
# 16. combining dict with list of tuples
# can create a dict from a list of tuples where each tuple represents a
# key value pair

pairs = [('a', 1), ('b', 2), ('c', 3)]
new_dict = dict(pairs)
print(new_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# 17. nested data structures
# you can use dictionaries in combination with lists or sets for more
# complex data structures

student = {
    'student1': {'name': 'john', 'grades': [90, 85, 88]},
    'student2': {'name': 'jane', 'grades': [92, 80, 84]}
}

# accessing nested data
print(student['student1']['grades'][0])

Problems

In [ ]:
# 1. Count Word Frequency, each character

sentence = "This is a sample sentence. This sentence is a simple example for counting word frequency."
word_count = {}

#words = sentence.replace('.', '').split()

for word in sentence:
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1
print(word_count)

{'T': 2, 'h': 2, 'i': 6, 's': 8, ' ': 14, 'a': 4, 'm': 3, 'p': 3, 'l': 3, 'e': 12, 'n': 7, 't': 3, 'c': 4, '.': 2, 'x': 1, 'f': 2, 'o': 3, 'r': 3, 'u': 2, 'g': 1, 'w': 1, 'd': 1, 'q': 1, 'y': 1}

In [ ]:
# 1. Count Word Frequency, each word

sentence = "This is a sample sentence. This sentence is a simple example for counting word frequency."
word_count = {}

words = sentence.lower().replace('.', '').split()

for word in words:
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1
print(word_count)

{'this': 2, 'is': 2, 'a': 2, 'sample': 1, 'sentence': 2, 'simple': 1, 'example': 1, 'for': 1, 'counting': 1, 'word': 1, 'frequency': 1}

In [ ]:
# 2. Student Database
# need to try later!

students = {
    'student1': {'name': 'John Doe', 'age': 20, 'grades': [85, 90, 92]},
    'student2': {'name': 'Jane Smith', 'age': 22, 'grades': [88, 76, 95]},
    'student3': {'name': 'Emily Johnson', 'age': 19, 'grades': [78, 82, 80]},
}

# Add a new student
def add_student(students, student_id, name, age, grades):
    students[student_id] = {'name': name, 'age': age, 'grades': grades}

# Remove a student
def remove_student(students, student_id):
    if student_id in students:
        del students[student_id]
    else:
        print("Student ID not found.")

# Update an existing student's information
def update_student(students, student_id, name=None, age=None, grades=None):
    if student_id in students:
        if name:
            students[student_id]['name'] = name
        if age:
            students[student_id]['age'] = age
        if grades:
            students[student_id]['grades'] = grades
    else:
        print("Student ID not found.")

# Example usage
add_student(students, 'student4', 'Mark Wilson', 21, [90, 85, 87])
remove_student(students, 'student2')
update_student(students, 'student3', age=20)

print(students)

{'student1': {'name': 'John Doe', 'age': 20, 'grades': [85, 90, 92]}, 'student3': {'name': 'Emily Johnson', 'age': 20, 'grades': [78, 82, 80]}, 'student4': {'name': 'Mark Wilson', 'age': 21, 'grades': [90, 85, 87]}}

In [ ]:
# 3. Inventory System
# try later!

inventory = {
    'item1': {'name': 'Apple', 'quantity': 50, 'price': 0.5, 'description': 'Fresh green apples'},
    'item2': {'name': 'Banana', 'quantity': 30, 'price': 0.25, 'description': 'Ripe bananas'},
    'item3': {'name': 'Orange', 'quantity': 20, 'price': 0.75, 'description': 'Sweet oranges'},
}

# Add a new item
def add_item(inventory, item_id, name, quantity, price, description):
    inventory[item_id] = {'name': name, 'quantity': quantity, 'price': price, 'description': description}

# Remove an item
def remove_item(inventory, item_id):
    if item_id in inventory:
        del inventory[item_id]
    else:
        print("Item ID not found.")

# Update an existing item's information
def update_item(inventory, item_id, quantity=None, price=None, description=None):
    if item_id in inventory:
        if quantity is not None:
            inventory[item_id]['quantity'] = quantity
        if price is not None:
            inventory[item_id]['price'] = price
        if description is not None:
            inventory[item_id]['description'] = description
    else:
        print("Item ID not found.")

# Example usage
add_item(inventory, 'item4', 'Grapes', 40, 1.5, 'Seedless grapes')
remove_item(inventory, 'item2')
update_item(inventory, 'item3', price=0.8, description='Juicy sweet oranges')

print(inventory)